/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset"; */
/* Space out content a bit */
/* line 9, ../sass/screen.scss */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 15, ../sass/screen.scss */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
/* line 23, ../sass/screen.scss */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
/* line 28, ../sass/screen.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
/* line 35, ../sass/screen.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  /* line 43, ../sass/screen.scss */
  .container {
    max-width: 730px;
  }
}
/* line 47, ../sass/screen.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 52, ../sass/screen.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 56, ../sass/screen.scss */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
/* line 62, ../sass/screen.scss */
.marketing {
  margin: 40px 0;
}

/* line 65, ../sass/screen.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* line 72, ../sass/screen.scss */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  /* line 79, ../sass/screen.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 83, ../sass/screen.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
