/**** Blocks ****/
.block {
  padding:15px;
  
}
.block img {
	 width:100%;
   border: 2px solid #000;
}
div .residential-section {
	padding-bottom: 35px;
}
div .block-residential {
	margin-right: 0px;
	background: rgba(54, 124, 43, .3);
}
.block-ag {
	h4 {
	text-align: left;
	}
}
div .ag-section {
	padding-bottom: 35px;
}