/* Main marketing message and sign up button */
.jumbotron {
	min-height: 350px;
  background: #000 url("https://pixabay.com/en/photos/download/guam-86022_1920.jpg?attachment") center center;
  text-align: center;
  background-size: cover; 
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
} 
jframe {
	margin-left: 50px;	
}

/* Supporting marketing content */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin: 40px 0;
}
/*
.marketing p + h4 {
  margin-top: 28px;
  background: gray;
} 
*/
.marketing h3 {
	text-align: left;
}
.block a {
	background: rgb(240,184,35); 
}