/* Main marketing message and sign up button */
.jumbotron {
	position: relative;
  min-height: 350px;
  border-bottom: 1px solid #e5e5e5; 
  background: url("img/dozer.jpg") center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
} 
jframe {
	margin-left: 50px;	
}

/* Supporting marketing content */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin: 40px 0;
} 
/*
.marketing p + h4 {
  margin-top: 28px;
  background: gray;
} 
*/
.marketing h3 {
	text-align: left;
}
h3 a {
  background: rgb(240,184,35) !important; 
}
